*.o
*.mod
### LIO files, remove when eliminate LIO from this code ###
###########################################################
# Ignoring compiled objects, logs and backups
###########################################################
*.x
*.o
*.so
*.swp
*.mod
*.log
*.optrpt
*.bak
*~
lio/liosolo/liosolo
#
###########################################################
## Ignoring outputs from test runs
###########################################################
lio/test/*/*.orb
lio/test/*/*.out
lio/dtest/*/*.xyz
fort.*
mulliken
qm.xyz
salida
#
###########################################################
# Isn't this redundant?
# (at least after adding *.cu_o)
###########################################################
lio/g2g/*.o
lio/g2g/*.so
lio/g2g/*/*.o
lio/g2g/*/*.cu_o
lio/g2g/analytic_integral/*.o
lio/g2g/analytic_integral/*/*.o
lio/lioamber/*.log
lio/lioamber/*.mod
lio/liosolo/*.x
lio/test/performance-measures/*
lio/lioamber/utests/*.x
lio/lioamber/liosubs/utests/*.x
lio/lioamber/liosubs/utests/Output-*
#
###########################################################
# Unit test
###########################################################
lio/test/unit_test/accumulate_point/main_gpu
lio/test/unit_test/accumulate_point/main_cpu
lio/test/unit_test/accumulate_point/output/*
lio/test/unit_test/libxc_proxy/main_gpu
lio/test/unit_test/libxc_proxy/output/*
lio/test/unit_test/matrix/matrix_test
lio/test/unit_test/timers/timers_test
lio/test/unit_test/iteration/main_gpu
lio/test/unit_test/iteration/output/*
lio/test/unit_test/libxc_proxy/main_cpu
lio/test/unit_test/libxc_proxy/main_gpu
lio/test/*/output/*
###########################################################
# Integration test
###########################################################
lio/test/integration_test/accumulate_point/main_cpu
lio/test/integration_test/accumulate_point/main_gpu
lio/test/integration_test/iteration/main_gpu
###########################################################
# Stress test
###########################################################
lio/test/stress_test/0_aguaGPU/*
lio/test/stress_tess/2_hemoGPU/*
lio/test/stress_test/5_caffeineGPU/*
lio/tess/stress_test/9_carotenoGPU/*
###########################################################
# Profiling
###########################################################
lio/test/profiling/*
