*.o
*.mod
### LIO files, remove when eliminate LIO from this code ###
###########################################################
# Ignoring compiled objects, logs and backups
###########################################################
*.x
*.o
*.so
*.swp
*.mod
*.log
*.optrpt
*.bak
*~
LIO/liosolo/liosolo
#
###########################################################
## Ignoring outputs from test runs
###########################################################
LIO/test/*/*.orb
LIO/test/*/*.out
LIO/dtest/*/*.xyz
fort.*
mulliken
qm.xyz
salida
#
###########################################################
# Isn't this redundant?
# (at least after adding *.cu_o)
###########################################################
LIO/g2g/*.o
LIO/g2g/*.so
LIO/g2g/*/*.o
LIO/g2g/*/*.cu_o
LIO/g2g/analytic_integral/*.o
LIO/g2g/analytic_integral/*/*.o
LIO/lioamber/*.log
LIO/lioamber/*.mod
LIO/liosolo/*.x
LIO/test/performance-measures/*
LIO/lioamber/utests/*.x
LIO/lioamber/liosubs/utests/*.x
LIO/lioamber/liosubs/utests/Output-*
#
###########################################################
# Unit test
###########################################################
LIO/test/unit_test/accumulate_point/main_gpu
LIO/test/unit_test/accumulate_point/main_cpu
LIO/test/unit_test/accumulate_point/output/*
LIO/test/unit_test/libxc_proxy/main_gpu
LIO/test/unit_test/libxc_proxy/output/*
LIO/test/unit_test/matrix/matrix_test
LIO/test/unit_test/timers/timers_test
LIO/test/unit_test/iteration/main_gpu
LIO/test/unit_test/iteration/output/*
LIO/test/unit_test/libxc_proxy/main_cpu
LIO/test/unit_test/libxc_proxy/main_gpu
LIO/test/*/output/*
###########################################################
# Integration test
###########################################################
LIO/test/integration_test/accumulate_point/main_cpu
LIO/test/integration_test/accumulate_point/main_gpu
LIO/test/integration_test/iteration/main_gpu
###########################################################
# Stress test
###########################################################
LIO/test/stress_test/0_aguaGPU/*
LIO/test/stress_tess/2_hemoGPU/*
LIO/test/stress_test/5_caffeineGPU/*
LIO/tess/stress_test/9_carotenoGPU/*
###########################################################
# Profiling
###########################################################
LIO/test/profiling/*
